COMPOSE_PROJECT_NAME=xgs-17-water-dispenser
PROJECT_NAME=xgs-17-water-dispenser
PROJECT_VERSION=1.0.0
DOCKER_REGISTRY=docker.m.daocloud.io/library/

FRONTEND_PORT=3217
BACKEND_PORT=8217
MYSQL_PORT=3517
REDIS_PORT=6517

MYSQL_ROOT_PASSWORD=xgs2024_water
MYSQL_DATABASE=xgs_water
MYSQL_USER=xgs_water
MYSQL_PASSWORD=xgs_water_2024

REDIS_PASSWORD=xgs_redis_water_2024
REDIS_DATABASE=0
TZ=Asia/Shanghai
JVM_XMS=256m
JVM_XMX=1024m

MAVEN_MIRROR=https://maven.aliyun.com/repository/public
NPM_REGISTRY=https://npmreg.proxy.ustclug.org/
NODE_DISTURL=https://mirrors.ustc.edu.cn/node/
